<script type="text/javascript" src="bundles/markocupiccontaosidebarnavigation/js/sidebar_navigation.min.js"></script>

{{ addCssResource('bundles/markocupiccontaosidebarnavigation/css/sidebar_navigation.css') }}

<!-- indexer::stop -->
{% set classes = ['sidebar-navigation' , 'block'] %}
{% if class is defined and class is not empty %}
	{% set classes = classes|merge(class|split(' ')) %}
{% endif %}
{% set class = classes|join(' ') %}

<nav class="{{ class }}" {{ cssID }}{% if style is defined and style is not empty %} style="{{ style }}"{% endif %}>
	{% if headline is defined and headline is not empty %}
		<{{ hl }}>{{ headline }}</{{ hl }}>
	{% endif %}

	<a href="{{ request }}#{{ skipId }}" class="invisible">{{ skipNavigation }}</a>
	{{ items|raw }}
	<a id="{{ skipId }}" class="invisible">&nbsp;</a>

</nav>

<script>
	window.addEventListener('DOMContentLoaded', (event) => {

		if (ContaoSidebarNavigation) {
			new ContaoSidebarNavigation({
				'submenuContainer': '.submenu',
				'followSubmenuContainerLink': false,
				'submenuTogglerHtml': '<button class="toggle-submenu" role="button"></button>',
			});
		}
	});
</script>
<!-- indexer::continue -->
