<script type="text/javascript" src="{{ asset('js/script.js', 'markocupic_contao_sidebar_navigation') }}"></script>
{% add to head %}
    <link rel="stylesheet" href="{{ asset('css/style.css', 'markocupic_contao_sidebar_navigation') }}">
{% endadd %}

<!-- indexer::stop -->
{% set classes = ['sidebar-navigation' , 'block'] %}
{% if class is defined and class is not empty %}
    {% set classes = classes|merge(class|split(' ')) %}
{% endif %}
{% set class = classes|join(' ') %}

<nav class="{{ class }}" {{ cssID|raw }}{% if style is defined and style is not empty %} style="{{ style }}"{% endif %}>
    {% if headline|default %}
    <{{ hl }}>{{ headline }}</{{ hl }}>
{% endif %}
<a href="{{ request }}#{{ skipId }}" class="invisible">{{ skipNavigation }}</a>
{{ items|raw }}
<a id="{{ skipId }}" class="invisible">&nbsp;</a>
</nav>
<!-- indexer::continue -->
{% block nav_script %}
    {% set script_attributes = attrs()
        .setIfExists('nonce', csp_nonce('script-src'))
        .mergeWith(script_attributes|default) %}
    <script{{ script_attributes }}>
        const currentScript = document.currentScript;

        window.addEventListener('DOMContentLoaded', (event) => {
            if (ContaoSidebarNavigation) {
                const nav = currentScript.parentElement.querySelector(':scope > nav');
                new ContaoSidebarNavigation(nav, {
                    'submenuContainerClass': '.submenu',
                    'pageContainerClass': '.page-container', // Not-clickable links
                    'followPageContainerLinks': false, // Follow not-clickable links
                    'dropdownTogglerHtml': '<button class="toggle-submenu" role="button"></button>',
                    'dropdownTogglerPosition': 'before', // 'before' or 'after'
                });
            }
        });
    </script>
{% endblock %}
